/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/



    #container-a {
      background-color: darkslategrey;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    /*contenedor del header*/

    
    #container-b{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #conatiner-b-menuhamburquesa {
        display:flex;
        text-align: right;
        /*animation: move 5s linearsi, se m infinite;*/

        /* animation-name: move;
        animation-duration: 5s;
        animation-iteration-count: infinite; */
        /* transition: all 2s linear 1s; */
        /* transition-property: all;
        transition-duration: 2s;
        transition-timing-function: ease-out; */
    }
    #box:hover{
        background-color: rosybrown;
        width: 300px;
        height: 300px;
    }

    #container-img-wwhappen{
    display: flex;
    flex-direction: column;
    justify-items: center;
    }

    #container-img-wwhappen img{
        display: flex;
        height: 30vh;
        justify-self:center; 
    }
    #home_talking{
        height: ;
    }


    #container-b img{
        display: flex;
        height: 6vh;
        padding: 2em;
    }
    .footer-container{
    display: flex;
      flex-direction: row;
      background-color: darkgray;
      justify-content: center;
    }
